<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244049483816-5qdu8a11bcdnhicpb8pp98v3d8qkgchr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244049483816-5qdu8a11bcdnhicpb8pp98v3d8qkgchr</string>
	<key>API_KEY</key>
	<string>AIzaSyDk3B_IzlkkUD5abYRntmnpbJ-6HBom2BE</string>
	<key>GCM_SENDER_ID</key>
	<string>244049483816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.hyebin.LoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>login-sample-app-c7455</string>
	<key>STORAGE_BUCKET</key>
	<string>login-sample-app-c7455.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244049483816:ios:3fbc5c942348495a4e7d1d</string>
</dict>
</plist>